{% extends "base.twig" %}
{% block main %}
    <section id="main">
        <div class="inner">
            <h2>Espace commentaires</h2>
            <form accept-charset="utf-8" action="/RGIHour/Commentaires/Add" method="post">
                <p>Votre pseudo : <input id="pseudo" name="pseudo" size="20" type="text"></p>
                <p>Votre commentaire : <input class="champ" id="com" name="com" type="text"></p>
                <p><input onclick="recapcom()" type="submit" value="Envoyer !"></p>
            </form>
       

            <h2>Les commentaires</h2>
            <table>
                <thead>
                    <!-- En-tête du tableau -->
                    <tr>
                        <th>Pseudo</th>
                        <th>Commentaires</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Corps du tableau -->
                    {% for commentaires in EspaceCom %}
                        <tr>
                            <td>{{commentaires.pseudo}}</td>
                            <td>{{commentaires.com}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script type="text/javascript">
        function recapcom() {
            var pseudo = document.getElementById("pseudo").value;
            var com = document.getElementById("com").value;
            alert('Pseudo : ' + pseudo + ' | Commentaire : ' + com);
        }
    </script>
{% endblock %}