{% extends "base.twig" %}
{% block main %}
    <section id="main">
        <div class="inner">
            <div id="container">
            <h2>Connexion</h2>
                <form accept-charset="utf-8" action="/RGIHour/Connexion/Add" method="post">
                    <p>Nom d'utilisateur : <input name="pseudo" placeholder="Entrer le nom d'utilisateur" required type="text"></p>
                    <p>Mot de passe : <input name="mdp" placeholder="Entrer le mot de passe" required type="password"></p>
                    <input id='submit' type="submit" value='LOGIN'>
                </form>
            </div>
        </div>
    </section>
{% endblock %}