{% extends "base.twig" %}
{% block main %}
<section id="main">
    <div class="inner">
        <div class="grid">
            <article>
                <h2>Localisation</h2>
                    <div class="description">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.8706046572324!2d2.097476815593702!3d49.449162579349725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e7071e2e884815%3A0x7a77f98bd05171ee!2sPROMEO+Formation+Beauvais!5e0!3m2!1sfr!2sfr!4v1553007090707" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="inner">
                            <h3>Nous contacter</h3>
                                <p><dt>Horaires : Du lundi au vendredi 08:30 – 18:00</dt></p>
                                <p><dt>Tél : <a href="tel:03 44 12 37 80">03 44 12 37 80</a></dt> </p>
                                <p><dt>Mail : <a href="mailto:RGIHour@gmail.com">RGIHour@gmail.com</a></dt></p>               
                                <p><dt>Adresse : 240 Avenue Marcel Dassault,</dt> <dt>60002 Beauvais</dt></p>
                        </div>
                    </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}
