{% extends "base.twig" %}
{% block main %}
    <section id="main">
        <div class="inner">
            <h2>Les paris en cours</h2>
                <table>    
                    <thead>
                        <!-- En-tête du tableau -->
                        <tr>
                            <!--<th>Nom du parieur </th>-->
                            <th>Vous avez parié sur : </th>
                            <th>Date d'arrivée : </th>
                            <th>Heure d'arrivée : </th>
                        </tr>
                    </thead>
             
                    <tbody>
                        <!-- Corps du tableau -->
                        <tr>
                        {% for sondage in GetTableSondage %}
                                <!--<td>{{compte.pseudo}}</td>-->
                                <td>{{sondage.nom_eleve}}</td>
                                <td>{{sondage.date}}</td>
                                <td>{{sondage.heure}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>

    <<section id="main">
        <div class="inner">
            <h2>Classement</h2>
            <table>    
                    <thead>
                        <!-- En-tête du tableau -->
                        <tr>
                            <th>Position dans le classement :</th>
                            <th>Nom du parieur :</th>
                            <th>Nombre de points :</th>
                        </tr>
                    </thead>
             
                    <tbody>
                        <!-- Corps du tableau -->
                        {% for sondage in sondages %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>
        </div>
    </section>-->
    
{% endblock %}