{% extends "base.twig" %}
{% block main %}
    <section id="main">
        <div class="inner">
            <div class="description">
                <p>
                    <h2>Description</h2>
                </p>
                <p>Bienvenue sur RGIHour, le site qui vous permet de parier sur l'heure d'arrivée des élèves en cours.</p>
                <p>Pour jouer, il suffit de séléctionner la date et l'heure sur lesquelles vous voulez parier.</p>
                <p>Pour plus d'informations, veuillez vous rendre dans l'onglet "Contact" pour vous mettre en relation avec notre équipe.</p>
            </div>
        </div>
    </section>

    <section id="main">
        <div class="inner">
            <div class="description">
                <p>
                    <h2>Faites vos jeux !</h2>
                </p>
                <form accept-charset="utf-8" action="/RGIHour/Resultats/Add" method="POST">
                    <p>Séléctionner le nom de l'élève : <select id="nom" name="nom">
                                {% for nomeleve in GetTableNomEleve %}
                                    <option value={{ nomeleve.id }}>{{ nomeleve.nom }}</option>
                                {% endfor %}
                        </select></p>
                    <p>Date d'arrivée : <input id="date" name="date" type="date"></p>
                    <p>Heure d'arrivée : <input id="heure" name="heure" type="time"></p>
                    <input type="submit" value="GO !">
                </form>
                <p>Attention, un seul pari par personne et par jour sera pris en compte.</p>
                <p>Vous pouvez parier pour le matin ou pour l'aprés-midi.</p>
            </div>
        </div>
    </section>
{% endblock %}