#container {
    width: 400px;
    margin: 0 auto;
    margin-top: 0;
}

/* Bordered form */
form {
    width: auto;
    padding: 10px;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: auto;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}