header {
    background: #222;
}

#main>.inner {
    margin: 0 49px;
    max-width: 93%;
    margin-bottom: 2rem;
    background: #222;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

#logo, #menubar {
    margin-top: 2;
    margin-right: auto;
}

#logo {
    width: 825px;
    position: relative;
    height: 150px;
}

#logo #logo_text {
    position: absolute;
    top: 20px;
    left: 0;
}

#logo h1, #logo h2 {
    font: normal 300% 'Audiowide', cursive;
    border-bottom: 0;
    text-transform: none;
    margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #FFF;
    text-decoration: none;
}

#logo_text h1 a .logo_colour {
    color: #FFF;
}

#logo_text h2 {
    font-size: 100%;
    padding: 4px 0 0 0;
    color: #FFF;
}

#menubar {
    height: 58px;
    padding: 0;
    background: transparent url("../img/transparent_light.png") repeat;
}

ul#menu, ul#menu li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
}

ul#menu li {
    list-style: none;
}

ul#menu li a {
    font: normal 90% 'Audiowide', cursive;
    display: block;
    height: 37px;
    padding: 20px 26px 1px 26px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
    color: #FFF;
    background: transparent url("../img/transparent.png") repeat;
}

.sidebar li a.selected {
    color: #444;
    text-decoration: none;
}

main section {
    padding-top: 75px;
    text-align: center;
    font-size: 1.2em;
}

body footer {
    text-align: center;
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
}

body {
    background: url("../img/bg_home1.jpg") repeat scroll;
}

footer {
    margin-top: 70px;
    background: #222;
    padding: 1em;
}

footer img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

main section {
    max-width: 1375px;
    margin: 0 auto;
    display: grid;
    /*grid-template-columns: repeat(3, fr);
    column-gap: 20px;
    row-gap: 20px;*/
}

main section div {
    /*background-color: grey;
    border-radius: 70px;*/
    color: #FFF;
    text-align: center;
}

main section h2, main article h2 {
    /*grid-column: 1/2;*/
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.1);
    font-size: 2.1em;
    text-align: center;
}


main section a figure, main .grid aside a {
    margin: 0;
    width: 100px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

main img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid rgb(223, 0, 44);
    display: block;
    margin: 8px;
}

main dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid rgb(223, 0, 44);
    padding: 0.8em 0;
}

main article dl dt, main article dl dd {
    padding: 0 0.8em;
    display: block;
    margin: 0;
}

main article dl dt {
    margin-top: 15px;
    font-weight: bold;
}

main article .description {
    font-size: 1.4em;
    color: #FFF;
}

main section a, main .grid aside a figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
}

main section a figure img, main .grid aside a figure img {
    display: block;
    width: 100%;
}

main section a figure figcaption, main .grid aside a figure figcaption {
    padding: 0.3em;
    border-bottom: 3px solid transparent;
    color: rgb(223, 0, 44);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.9em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

main section a:hover figure figcaption, main .grid aside a:hover figure figcaption {
    border-bottom-color: rgb(223, 0, 44);
}

main .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr -0.5fr;
}

main .grid aside h3 {
    font-family: 'Staatliches', cursive;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    font-size: 2.6em;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    font-size: 130%;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

td, th
/* Mettre une bordure sur les td ET les th */

    {
    border: 1px solid grey;
    font-size: 1 em;
    color: white;
    padding: 12px;
}

.champ {
    height: 90px;
    width: 390px;
}